* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

input[type=checkbox].switch, input[type=checkbox].checkbox, input[type=checkbox].radiobox {
  -webkit-appearance: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
  outline: none;
}

/*raspberry: #EC0868*/

.switch, .switch--off {
  position: relative;
  /*font-size: 15em;*/
  /*font-size: 10px;*/
  width: 2.5em;
  height: 1.2em;
  background-color: #dedede;
  background-image: radial-gradient(closest-side circle, rgba(255, 255, 255, 1) calc(100% - 0.13em), rgba(255, 255, 255, 0) calc(100% - 0.13em + 1px));
  background-repeat: no-repeat;
  background-position: -0.625em center;
  border-radius: 1000px;
  /*border: 0.14em solid #007FFF;*/
  background-origin: padding-box;
  /*border: 0.2em solid rgba(0, 127, 255, 0);*/
  transition: background-color 0.4s, background-position 0.4s;
}

.switch--on, .switch:checked {
  background-position: 0.625em center;
  background-color: #007FFF;
  background-image: radial-gradient(closest-side circle, rgba(255, 255, 255, 1) calc(100% - 0.13em), rgba(255, 255, 255, 0) calc(100% - 0.13em + 1px));
  /*border: 0.2em solid rgba(0, 127, 255, 0.3);*/
}

.checkbox {
  position: relative;
  width: 1.2em;
  height: 1.2em;
  background-color: #dedede;
  border-radius: 0.4em;
}

.checkbox--on, .checkbox:checked {
  background-color: #007FFF;
}